<section class="container">
  <header class="header">
    <div class="d-grid gap-2 d-md-flex d-flex justify-content-between">
      <h2>Meus orcamentos</h2>
    </div>
  </header>

  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Orcamento</th>
        <th>Tipo de Serviço</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Observação</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orcamento of listaOrcamentos">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-1">
              <p class="fw-bold mb-1">{{ orcamento.id }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ orcamento.pedido.tipoServico.descricaoServico }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ orcamento.data }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">R$ {{ orcamento.valorOrcamento }}</p>
        </td>
        <td>
          <div *ngIf="orcamento.status=='Pendente'"><span class="badge badge-pill badge-primary">{{ orcamento.status }}</span>
          </div>
          <div *ngIf="orcamento.status=='Orcado'"><span class="badge badge-pill badge-warning">{{ orcamento.status }}</span>
          </div>
          <div *ngIf="orcamento.status=='Aprovado'"><span class="badge badge-pill badge-success">{{ orcamento.status }}</span>
          </div>
          <div *ngIf="orcamento.status=='Rejeitado'"><span class="badge badge-pill badge-dark">{{ orcamento.status }}</span>
          </div>
        </td>
        <td>{{ orcamento.pedido.descricao }}</td>
        <td>
          <div *ngIf="orcamento.status=='Pendente'">
            <button type="button" class="btn btn-warning btn-floating ms-1"
              routerLink="/orcamentos/editar/{{ orcamento.id }}">
              <i class="fas fa-pen"></i>
            </button>
            <button type="button" class="btn btn-primary btn-floating ms-1" (click)="prepararOrcamentoParaAcao(orcamento,'enviar')"
              data-bs-toggle="modal" data-bs-target="#acaoModal">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
          <div *ngIf="orcamento.status=='Orcado'">
          </div>
          <div *ngIf="orcamento.status=='Aprovado'">
          </div>
          <div *ngIf="orcamento.status=='Rejeitado'">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="modal fade" id="acaoModal" tabindex="-1" aria-labelledby="acaoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="acaoModalLabel">{{ tituloModal }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="orcamentoSelecionado">
        <div class="col mb-3">
          <label for="recipient-name" class="col-form-label"><b>orcamento No.:</b> {{ orcamentoSelecionado.id }}</label>
          <br>
          <label for="message-text" class="col-form-label"><b>Tipo de Serviço:</b> {{
            orcamentoSelecionado.pedido.tipoServico.descricaoServico }}</label>
          <br>
          <label for="message-text" class="col-form-label"><b>Valor Orçamento (R$):</b> {{
              orcamentoSelecionado.valorOrcamento }}</label>
          </div>
        <div class="mb-3">

        </div>
        <div class="mb-3">
          <p class="conteudo">{{ orcamentoSelecionado.pedido.descricao }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="acaoModal()">{{ tituloBotaoModal
          }}</button>
      </div>
    </div>
  </div>
</div>