<section class="container">
  <header class="header">
    <h2>Pedido {{ pedido.id ? '# '+ pedido.id : '' }} </h2>
  </header>

  <form>
    <div class="col-md-12 col-lg-12 col-xl-12 offset-xl-1">
      <div class="mb-3">
        <label for="tipoServico2" class="form-label" for="form2">Tipo de Serviço</label>
        <select name="tipoServico2" [(ngModel)]="pedido.tipoServico.id" class="form-select" aria-label="Default select example">
          <option selected></option>
          <option *ngFor="let tipoServico of listaTipoServico" value="{{tipoServico.id}}">
            {{ tipoServico.descricaoServico }}
          </option>
        </select>

      </div>
      <div class="mb-3">
        <label for="descricaoServico" class="form-label">Descrição</label>
        <textarea [(ngModel)]="pedido.descricao" class="form-control" name="descricaoServico"
          rows="3"></textarea>
      </div>


      <button (click)="salvarPedido()" type="button" class="btn btn-success btn-lg ms-2">Salvar</button>
      <button (click)="cancelarPedido()" type="button" class="btn btn-danger btn-lg ms-2">Cancelar</button>

      <!--
      <button (click)="criarPensamento()" class="botao">Salvar</button>
      <button (click)="cancelarPensamento()" class="botao">Cancelar</button>
-->
    </div>
  </form>
</section>